
ul {
    list-style-type: none;
    padding-inline-start: 0px;
    float: right;
    display: grid;
    width: 220px;
    grid-template-columns: repeat(4,1fr);
    gap: 0px 10px;
}
ul:after{
    content: "";
    display: block;
    clear: both;
}
.top-nav-text {
    margin: auto;
    font-family: arial, sans-serif;
    font-size: 13px;
}
.underline-on-hover:hover {
    text-decoration: underline;
}
#li_3 {
    margin: auto;
}
#google-apps-icon {
    width: 100%;
    height: auto;
}
#li_4 {
    margin: auto;
}
#sign-in-button {
    color: white;
    background-color: #1a73e8;
    border-radius: 5px;
    border-color: transparent;
}
#sign-in-button:hover {
    background-color: #2b7de9;
}
#google-logo {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 200px;
}
#text-field-visual {
    width: 586px;
    height: 46px;
    border: 1px solid lightgray;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 320px;
    border-radius: 25px;    
}
#text-field-visual:hover {
    box-shadow: 0 0 5px 0 lightgray;
}
input {
    width: 480px;
    height: 34px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-family: arial, san-serif;
    font-size: 16px;
    border-color: transparent;
}
input:focus {
    outline: none;
}
#search-icon {
    height: 25px;
    width: auto;
    position: relative;
    top: 8px;
    left: 8px;
}
#voice-search-icon{
    height: 25px;
    width: auto;
    position: relative;
    top: 8px;
    left: 510px;
}