
.top-nav {
    list-style-type: none;
    padding-inline-start: 0px;
    float: right;
    display: grid;
    width: 220px;
    grid-template-columns: repeat(4,1fr);
    gap: 0px 10px;
}
.top-nav__text {
    margin: auto;
    font-family: arial, sans-serif;
    font-size: 13px;
}
.top-nav__text--underline-on-hover:hover {
    text-decoration: underline;
}
.top-nav__icon {
    margin: auto;
}
.top-nav__google-apps-icon {
    margin:auto;
    width: 100%;
    height: auto;
}
.top-nav__sign-in-button {
    color: white;
    background-color: #1a73e8;
    border-radius: 5px;
    border-color: transparent;
}
.top-nav__sign-in-button--hover:hover {
    background-color: #2b7de9;
}
.google-logo {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 200px;
}
.search-bar {
    width: 586px;
    height: 46px;
    border: 1px solid lightgray;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 320px;
    border-radius: 25px;    
}
.search-bar:hover {
    box-shadow: 0 0 5px 0 lightgray;
}
.search-bar__text-field {
    width: 480px;
    height: 34px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-family: arial, san-serif;
    font-size: 16px;
    border-color: transparent;
}
.search-bar__text-field--focus:focus {
    outline: none;
}
.search-bar__search-icon {
    height: 25px;
    width: auto;
    position: relative;
    top: 8px;
    left: 8px;
}
.search-bar__voice-search-icon{
    height: 25px;
    width: auto;
    position: relative;
    top: 8px;
    left: 510px;
}