.--underline:hover {
    text-decoration: underline;
}
.top-nav {
    list-style-type: none;
    padding-inline-start: 0px;
    float: right;
    display: grid;
    width: 220px;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px 10px;
}
.top-nav__text {
    margin: auto;
    font-family: arial, sans-serif;
    font-size: 13px;
}
.top-nav__icon {
    margin: auto;
}
.top-nav__google-apps-icon {
    margin:auto;
    width: 100%;
    height: auto;
}
.top-nav__sign-in-button {
    color: white;
    background-color: #1a73e8;
    border-radius: 5px;
    border-color: transparent;
}
.top-nav__sign-in-button--hover:hover {
    background-color: #2b7de9;
}
.google-logo {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 200px;
}
.search-bar {
    width: 586px;
    height: 46px;
    border: 1px solid lightgray;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 320px;
    border-radius: 25px;    
}
.search-bar:hover {
    box-shadow: 0 0 5px 0 lightgray;
}
.search-bar__text-field {
    width: 480px;
    height: 34px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-family: arial, san-serif;
    font-size: 16px;
    border-color: transparent;
}
.search-bar__text-field--focus:focus {
    outline: none;
}
.search-bar__search-icon {
    height: 25px;
    width: auto;
    position: relative;
    top: 8px;
    left: 8px;
}
.search-bar__voice-search-icon{
    height: 25px;
    width: auto;
    position: relative;
    top: 8px;
    left: 510px;
}
.google-search-button {
    position: absolute;
    left: 44%;
    top: 400px;
    border: none;
    padding: 8px;
    border-radius: 4px;
}
.google-search-button--hover:hover {
    border: 1px solid #dadce0;
}
.im-feeling-lucky-button {
    position: absolute;
    right: 44%;
    top: 400px;
    border: none;
    padding: 8px;
    border-radius: 4px;
}
.im-feeling-lucky-button--hover:hover {
    border: 1px solid #dadce0;
}
.bottom-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(242, 242, 242);
    width: 100%;
    color: rgba(0,0,0,0.54);
    font-family: Arial, sans-serif;
    font-size: 15px;
    overflow: hidden;
}
.bottom-nav__bar {
    width: 100%;
    list-style-type: none;
    flex-direction: row;
    border: none;
}
.bottom-nav__bar-1 {
    border-top: 1px solid #dadce0;
    border-bottom: 1px solid #dadce0;
}
.bottom-nav__bar-1-list {
    list-style-type: none;
    justify-self: left;
}
.bottom-nav__bar-2-list-left {
    list-style-type: none;
    float: left;
    display: flex;
    gap: 0 1em;
}
.bottom-nav__bar-2-list-right {
    list-style-type: none;
    float: right;
    display:flex;
    gap: 0 1em;
    padding-inline-end: 40px;
}